body,html {
    height: 100%;
    width: 100%;
    margin : 0px;
    padding : 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-box {
    display :flex;
    flex-direction : column;
    padding : 20px 50px;
    border : 2px solid #42444e;
    border-radius: 8px;
}

#login-form {
    display :flex;
    flex-direction :column;
}

.login-input {
    display: flex;
    justify-content: space-between;
}

#warn {
    color : red;
    display: none;
}

label {
    width: 30px;
    text-align :center;
}

input {
    margin : 0px 4px;
    flex-grow : 1;
    border : none;
    border : 1px solid black;
    height : 25px;
}

#username {
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
}

#password{
    border-bottom-left-radius : 10px;
    border-bottom-right-radius : 10px;
}

button {
    border : none;
    border-radius : 4px;
    margin : 4px;
    background-color : #42444e;
    color : white;
}

button:hover {
    background-color : #666666;
}