#detail-comment-wrapper {
    min-height: 0;
    flex-grow : 1;
    display: flex;
    flex-direction: column;
}

#detail-comment {
    flex-grow : 1;
    overflow-y : auto;
}

#detail-comment-create {
    height: 45.33px;
    margin: 10px 0px;
    display: flex;
}

#detail-comment-create textarea {
    flex-grow : 1;
    height: 40px;
    resize: none;
}

#detail-comment-create button {
    width: 45px;
    height: 45.33px;
    padding : 2px;
    margin : 0px
}

@keyframes colorFade {
    from {
        background-color: #007bff;
    }
    to {
        background-color: #ccc;
    }
}

.comment-box{
    background-color: #ccc;
    border-radius: 5px;
    margin : 4px 0px 0px 0px;
    padding : 4px;
}

.new {
    animation: colorFade 2s ease-out;
}


.comment-user {
    font-weight: bold;
    padding: 0px 8px 0px 4px; 
}

.comment-time {
    font-size: 10px;
    color: #777;
}
