body, html {
    margin : 0px;
    padding : 0px 10px 0px 10px;
    height: 100%;
}

h1 {
    margin : 0px;
}

#upper-foot{
  margin : 4px 10px;
  display : flex;
  align-items : flex-start;
  justify-content: space-between;
}

table {
  overflow-y: scroll;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
th,td {
  padding: 6px 15px;
}
th {
  background: #42444e;
  color: #fff;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(odd) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}


button {
  background-color: #42444e;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 0px 8px;
  padding: 4px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none; 
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

#search-result {
  text-align: right;
}

#sort-status-btn {
  margin : 0px;
  padding : 4px 8px;
}