#header {
    display: flex;
    justify-content: space-between;
}

.close-detail {
    color: #aaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.close-detail:hover,
.close-detail:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.detail {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

    justify-content: flex-end;
}
  
.detail-content {
    background-color: #fefefe;
    padding: 0px 20px 0px 20px;
    width: 40%;
    height: 100%;
}

.detail_info {
    display: flex;
    justify-content: space-between;
}

.detail-input {
    width : 100%;
    resize: none;
}

#detail-description{
    border : 1px solid #888;
    height : 180px;
    overflow-y: auto;
}