#upper-bar {
    height: 120px;

    display : flex;
    flex-direction: column;
}

#upper-bar-title {
  padding : 10px;

  display : flex;
  justify-content: space-between;
}

.nav-wrapper {
  display: flex;
}

.nav-link {
  color : #777;
  padding : 0px 8px;
}

.nav-link:hover {
  cursor : pointer;
  color : #000;
  text-decoration: underline;
  transition : 0.5s;
}

#user-info-wrapper {
  float: right;
  padding : 8px;
}