body, html {
    margin : 0px;
    padding : 0px 10px 0px 10px;
    height: 100%;
}

h1 {
    margin : 0px;
}

#upper-bar {
    height: 70px;

    display :flex;
    justify-content: space-between;
    align-items: center;
}

#create-project-btn {
    height: 40px;
}

#all-projects {
    padding : 10px 0px 0px 0px;
    height: 80%;
    background-color: #9D9D9D;
    display : flex;
    flex-wrap : wrap;
    overflow-y: auto;
}

.project-box {
    margin : 6px;
    
    height: 265px;
    width : 262px;
    border-radius: 10px;

    border : 2px solid #9D9D9D;
    transition: 0.5s;
    overflow:hidden;
}

.project-box:hover {
    border : 2px solid #000000;
}

.color-div {
    background-color: rgba(0,122,122,0.5);
    height: 70%;
}

.info-div {
    background-color: #FFFFFF;
    height: 30%;    
}

.project-info {
    display: flex;
}

.project-title {
    padding : 0 0 0 10px;
}

.project-role {
    padding : 0 0 0 10px;
    color : #999
}

.info-participant {
    padding : 0 10px 0 0 ;
}