<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style/issue.css">
        <link rel="stylesheet" href="style/issue_detail.css">
        <link rel="stylesheet" href="style/issue_radio.css">
        <link rel="stylesheet" href="style/issue_member.css">
        <link rel="stylesheet" href="style/issue_user.css">
        <link rel="stylesheet" href="style/modal.css">
        <title>SE term project - All Issues</title>
    </head>
    <body>
        <div id="create-modal" class="modal">
            <div class="modal-content">
                <span id="close-btn" class="close">&times;</span>
                <h2>New Issue</h2>
                <form id="create-form">
                    <label>Priority</label>
                    <div class="radio-group">
                        <div class="radio-elem">BLOCKER</div>
                        <div class="radio-elem">CRITICAL</div>
                        <div class="radio-elem">MAJOR</div>
                        <div class="radio-elem">MINOR</div>
                        <div class="radio-elem">TRIVIAL</div>
                    </div>
                    <label>Title</label>
                    <input class="modal-input" id="input-title">
                    <label>Description</label>
                    <textarea class="modal-input" id="input-description"></textarea>
                    <button id="create-btn">Create</button>
                </form>
            </div>
        </div>
        <div id="member" class="member">
            <div class="member-content">
                <span id="member-close" class="close">&times;</span>
                <h2>Members</h2>
                <ul id="pl-list" class="member-list">
                    <h3>PL</h3>
                </ul>
                <ul id="dev-list" class="member-list">
                    <h3>DEV</h3>
                </ul>
                <ul id="tester-list" class="member-list">
                    <h3>TESTER</h3>
                </ul>
            </div>
        </div>
        <div id="add-user" class="user">
            <div class="user-content">
                <span id="user-close" class="close">&times;</span>
                <h2>Add User</h2>
                <select class="user-list">

                </select>
                <select id="role-list">
                    <option value="PL">PL</option>
                    <option value="DEV">DEV</option>
                    <option valeu="TESTER">TESTER</option>
                </select>
                <button id="add-user-btn">Add</button>
            </div>
        </div>
        <div id="detail-wrapper" class="detail">
            <div class="detail-content">
                <div id="header">
                    <div id="detail-title">Issue title</div>
                    <div class="close-detail">X</div>
                </div>
                
                <div id="detail-date">00-00-00</div>
                <div id="detail-description">
                    Lorem ipsum dolor sit amet,
                </div>
                <form>
                    <div id="detail-reporter">
                        Reporter
                    </div>
                    <div id="detail-fixer">
                        Fixer
                    </div>
                    <div>
                        Assignee
                        <select id="detail-assignee"></select>
                        <button id="assign-btn">Assign</button>
                    </div>
                    <div id="info-wrapper">
                        Priority
                        <select id="detail-priority">
                            <option value="BLOCKER">BLOCKER</option>
                            <option value="CRITICAL">CRITICAL</option>
                            <option value="MAJOR">MAJOR</option>
                            <option vlaue="MINOR">MINOR</option>
                            <option vlaue="TIRIVIAL">TRIVIAL</option>
                        </select>
                        Status
                        <select id="detail-status">
                            <option value="NEW">NEW</option>
                            <option value="ASSIGNED">ASSIGNED</option>
                            <option value="RESOLVED">RESOLVED</option>
                            <option value="CLOSED">CLOSED</option>
                            <option value="REOPEND">REOPEND</option>
                        </select>
                        <button id="save-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="upper-bar">
            <div id="upper-bar-title">
                <h1 id="project-title">PROJECT TITLE</h1>
            </div>
            <div id="upper-bar-info">
                <button id="modal-btn">+ new issue</button>
                <button id="user-open">+ add member</button>
                <button id="member-open">Open Member List</button>
                <form>
                    <input>
                    <button>search</button>
                </form>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Issue title</th>
                    <th>Reporter</th>
                    <th>Fixer</th>
                    <th>Assignee</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </body>
    <script src="javascript/config.js"></script>
    <script src="javascript/issue.js"></script>
    <script src="javascript/issue_detail.js"></script>
    <script src="javascript/issue_create.js"></script>
    <script src="javascript/issue_member.js"></script>
    <script src="javascript/issue_add_user.js"></script>
</html>
